.root {
    -fx-background-color: linear-gradient(to bottom, #3a1c71, #d76d77, #ffaf7b);
}

.label, .button {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #d76d77;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #3a1c71;
}
